html, body{
    font-size: 16px;
}
body{
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

/* Header */

header{
    background-color: #AD6C1C;
    position: relative;
    top: -1rem;
    z-index: 1;
    margin-left: -10px;
    margin-right: -30px;
}

.header h1{
    text-align: center;
    font-size: 5rem;
    color: #ffffff;
    margin-top: 0;
}

 h1 span{
    color: #0A78AD;
}

.header{
    padding-top: 2rem;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2.5rem;
    list-style-type: none;
}

a{
  font-size: 1.2rem;
  color: #ffffff;
  letter-spacing: 1.5px;

}

/* About us Section*/

.banner p{
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    background-color: #AD6C1C;
    line-height: 4rem;
    font-weight: bold;
    position: relative;
    top: 310px;
    margin-right: -30px;
}

.banner {
    background-image: url("https://images.unsplash.com/photo-1681622341251-4fbbff1c27c2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80");
    background-position: center;
    width: 100%;
    height: 800px;
    padding-top: 20px;
    margin-left: -10px;
    
}

.about-us{
    margin-left: -10px;
    margin-right: -30px;
}


@media only screen and (max-width: 760px) {
    .banner p {
        font-size: 1rem;
        margin: auto;
      }
    .header h1{
        font-size: 2.5rem;
    }

    a{
        font-size: 1rem;
    }
}

/*Our Portfolio Section*/

.our-portofolio{
    background-color: #AD6C1C;
    margin-left: -10px;
    margin-right: -50px;
    margin-bottom: -30px;

}

/*h2, ul */
.intro-portfolio, .team {
    color:#000000;
    
}

.intro-portfolio  h2{
    font-size: 2rem;
    text-align: center;
    padding-top: 1.5rem;
}

.intro-portfolio ul{
    padding-bottom: 1rem;
    list-style-type: none;

} 

.intro-portfolio li{
    display: inline-block;
    margin-right: 1rem;
}
.intro-portfolio a{
    font-size: 1.2rem;
    color:#ffffff;
    letter-spacing: 2px;
  
}

.w-category{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

/*Women */
.category{
    display: block;
    margin-left: 20px;
    margin-right: 10px;

}

/*Men */
#men{
    justify-content: center;
}


.category p{
    color:#000000;
    font-size: 1rem;
    word-spacing: 2px;
    font-weight: 600;
    padding-left: 10px;
}
.category img{
   width: 200px;
   height: 180px;
   padding: 3rem;
}

.category span{
    color: #0A78AD;
    font-weight: bold;
}

#get{
    color: #ffffff;
    font-weight: bold;
}

@media only screen and (max-width:760px){
    .intro-portfolio h2{
        font-size: 1rem;
    }

    .intro-portfolio a{
        font-size: 1rem;
    }

    .category p{
        font-size: 1rem;
    }
}

/* Our-Team section*/

.team h2{
    font-size: 2rem;
    text-align: center;
    padding-top: 1.5rem;
}

.team {
    background-image: url("https://images.unsplash.com/photo-1628871068231-2a09ab2136b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=875&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: -10px;
    margin-right: -20px;
}

.team h3{
    color:#000000;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.team p{
    color:#000000;
    letter-spacing: 2px;
    font-size: 1.2rem ;
    padding-right: 1rem;
}
.team-photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.member img{
   width: 200px;    
   height: 250px;
   padding: 1rem;
}

.member p{
    font-weight: bold;
    padding-top: 0.4rem;
}

@media only screen and (max-width:760px){
    .team h2{
        font-size: 1rem;
    }

    .member h3{
        font-size: 1rem;
    }

    .member p{
        font-size: 1rem;

    }
}

footer{
    background-color: #AD6C1C;
    color: #ffffff;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    margin-left: -10px;
    margin-right: -20px;
}
footer h2{
    line-height: 2rem;
}

footer p{
    font-size: 1rem;
    font-weight:bold ;
    line-height: 1rem;
}

footer span{
    color: #0A78AD;
}

#phone-nb{
  margin-left: 2rem;
}
